﻿@model DreamerShopConnection.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>SanPham</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MoTa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoTa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.XuatXu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.XuatXu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaNSX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaNSX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GiaSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiaSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoLuongBan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLuongBan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaLoaiSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaLoaiSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoLuongXem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLuongXem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HinhAnh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhAnh)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
