﻿@model DreamerShopConnection.SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SanPham</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaSP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaSP)
            @Html.ValidationMessageFor(model => model.MaSP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenSP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenSP)
            @Html.ValidationMessageFor(model => model.TenSP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MoTa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MoTa)
            @Html.ValidationMessageFor(model => model.MoTa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XuatXu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XuatXu)
            @Html.ValidationMessageFor(model => model.XuatXu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaNSX)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaNSX)
            @Html.ValidationMessageFor(model => model.MaNSX)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GiaSP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GiaSP)
            @Html.ValidationMessageFor(model => model.GiaSP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoLuongBan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLuongBan)
            @Html.ValidationMessageFor(model => model.SoLuongBan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaLoaiSP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaLoaiSP)
            @Html.ValidationMessageFor(model => model.MaLoaiSP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoLuongXem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLuongXem)
            @Html.ValidationMessageFor(model => model.SoLuongXem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HinhAnh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HinhAnh)
            @Html.ValidationMessageFor(model => model.HinhAnh)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
